@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Lato:400,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 181px 0 0 0;
    background-color:#640404;
    font-family:'Lato', Helvetica, Arial;
    font-size:15px;
}

.models{
    display: none;
   
}

header {
    position: fixed;
    left:0;
    top:0;
    right:0;
    width: 100vw;
    height:180px;
    padding: 0 10px 0 0px;
    background-color:#03242e;
    display:block; /* none; */
    align-items: center;
}

header  {
    margin-left: 0;
    color: #fff;
    z-index: 1;
}

header .header-title {
    width: 96vw;
    display: flex;
    height: 60px;;
    justify-content:space-between; /* flex-end; */
    padding: 0 20px 0 20px;
}


.menu_mobile_site {
    display: none;
    position: absolute;
    left: 10px;
    background: #f5f1f1;
    width: 36px;
    height: 28px;
    border-radius: 2px;    
}

.menu_mobile_site div{
    width: 24px;
    height: 1px;
    background: #021013;
    margin: 6px;
    border-radius: 2px;
}

.nav_site {
    top: 0px;
    margin-left: 0;
    position: relative;
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #01282e;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px 0 2px;
    flex-wrap: wrap;
}

.nav_site .ul_site{
    position: relative;
    top:0px;
    margin-left: 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav_site .ul_site .li_site{
    margin: 0 5px;
    
}


.nav_site .ul_site .li_site a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.nav_site .ul_site .li_site a.active,
.nav_site .ul_site .li_site a:hover{
    background: #f88f06;
}

.user {
    position: absolute;
    left: 70%;
}

.container{
    display: flex;
    width: 1200px;
}

.hello{
    margin-left: 5px;
}

.hello p {
    color: azure;
    letter-spacing: 1px;
}

.hello a {
    font-weight:800;
    font-size: 18px;
    background-color: rgb(102, 206, 5);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(2, 28, 9);
    border: 2px solid #16cb25;
    padding: 2px 2px;
    margin: 2px 0 2px 0;

}

.hello a:hover{
    background-color: #aff644;
}

.contato{
    display: flex;
    width: 680px;
    margin: 5px 5px 5px 5px;
    padding-top: 10px ;
    padding-bottom: 10px;
    background-color: rgba(216, 40, 49, 0.667);
    border-radius: 2px;

}

.contato p {
    margin-left: 15px;
    color: #d2d8c6;
    letter-spacing: 1px;
}

.ul_contato {
    padding: 5px 0 5px 30;
    list-style: none;
}

.ul_contato li{
    color: #d2d8c6;
    letter-spacing: 1px;
}



@media (max-width:900px) {

    header {
        padding: 0;
        margin: 0;
    }
    
    header h1 {
        font-size: 1rem; 
    }
    
    
        
    .nav_site{
        padding: 0;
    }

    .menu_mobile_site{
        display: block;
    }

    .nav_site .ul_site.open{
        left: 0;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100vh;
    }

    .nav_site .ul_site .li_site a {

        top: 10px;
        padding: 5 0 5 0;
        width: 100%;
        margin: 10px;
        font-size: 14px;
    }

    .nav_site .ul_site{
        position: relative;
        left: -100%;
        top: 45px;
        background-color: #003840;
        height: 100vw;
        width: 100%;
        text-align: left;
        display: block;
        transition: all o.3s ease;
        overflow-y: auto;
    }

    .nav_site .ul_site .li_site a.active,
    .nav_site .ul_site .li_site a:hover{
        background: none;
        color: #f88f06;
    }

    
}

@media (max-width:795px){
    .contato {
        display: block;
        width: 680px;
    }
}


@media (max-width:1400px) {
    .container{
        display: block;
    }
}


